从pandas官方文档中学习

    https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

In [1]:
import pandas as pd

In [2]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

## pandas的iloc函数可以通过位置索引筛选数据

### 只筛选行，返回一个Series

In [3]:
type(df.iloc[0])

pandas.core.series.Series

In [4]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

### 通过输入一个list可以返回DataFrame，并选择多行

In [5]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [6]:
df.iloc[[0, 1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

### 通过slice对象(切片)筛选

In [7]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

### 使用与索引长度相同的布尔值列表

In [8]:
df.iloc[[True, False, True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

### 通过一个callable(可调用对象)筛选，传给lambda的x是被切片的DataFrame，这里调用了DataFrame的index属性

In [9]:
df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

## 同时筛选行和列

### 输入单一的行列标签

In [10]:
df.iloc[0, 1]

2

### 输入行列标签的列表

In [11]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

### 使用切片对象

In [12]:
df.iloc[1:3, 0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

### 使用布尔值列表筛选列

In [13]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

### 使用callable(可调用对象)筛选列

In [14]:
df.iloc[:, lambda df: [0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000