从pandas官方文档中学习

    https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html?highlight=loc#pandas.DataFrame.loc

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

## pandas的loc函数可以通过标签或布尔值访问DataFrame或Series的行和列

### 通过单一标签访问某一行，这里返回的是Series

In [3]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

### 如果想要返回一个DataFrame，可以输入一个列表

In [4]:
df.loc[['viper']]

       max_speed  shield
viper          4       5

### 如果输入的列表包含多个标签，就可以返回多行

In [5]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

### 在[ ]的第二个位置输入列的标签就可以同时定位行和列

In [6]:
df.loc['cobra', 'shield']

2

### 也可以进行切片操作，注意切片的起点和终点都包含在返回值内

In [7]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [8]:
df.loc['cobra':'sidewinder', 'max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

### 输入与行轴或列轴相同大小的布尔值列表，控制返回哪些行或者列

In [9]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [10]:
df.loc[:,[False, True]]

            shield
cobra            2
viper            5
sidewinder       8

In [11]:
df.loc[[False, False, True],[False, True]]

            shield
sidewinder       8

### 使用Series可以结合布尔值列表以及索引列表，达到不按照默认顺序筛选行或列，但是返回值仍按照默认顺序

In [12]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [13]:
df.loc[pd.Series([False, True, False],
       index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [14]:
df.loc[:,pd.Series([True, False],
       index=['shield','max_speed'])]

            shield
cobra            2
viper            5
sidewinder       8

In [15]:
df.loc[pd.Series([False, True, True],
       index=['viper', 'sidewinder', 'cobra']),
      pd.Series([True, False],
       index=['shield','max_speed'])]

            shield
cobra            2
sidewinder       8

### 通过Index方法可以调整顺序以及添加表头

In [16]:
df.loc[pd.Index(['sidewinder', "viper"], name="foo")]

            max_speed  shield
foo
sidewinder          7       8
viper               4       5

## 在布尔值列表的基础上，可以增加筛选条件筛选行和列

In [17]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

### 条件会返回布尔值Series，进而通过布尔值Series筛选

In [18]:
df['shield'] > 6

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [19]:
Conditional = df['shield'] > 6
df.loc[Conditional]

            max_speed  shield
sidewinder          7       8

In [20]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

### 添加列标签的筛选

In [21]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

### 任何可调用对象(Callable)返回的布尔值皆可按照这个逻辑筛选

In [22]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

## 设置值

### 设置所有匹配项的值

In [23]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

### 直接设置行或列

In [24]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [25]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

### 为符合匹配条件的项设置值

In [26]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

## 获得具有整数标签索引的DataFrame的值

In [27]:
DF = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=[7, 8, 9], columns=['max_speed', 'shield'])
DF

   max_speed  shield
7          1       2
8          4       5
9          7       8

### 直接通过标签切片获取，注意起始点和终止点都包含在内，其他方法也类似

In [28]:
DF.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

## 获取多index情况下的DataFrame的值

In [29]:
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
MultiIndex_df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
MultiIndex_df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

### 单一标签，将返回带有单个索引的DataFrame

In [30]:
MultiIndex_df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

### 单个标签元组，这时返回一个Series

In [31]:
MultiIndex_df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

### 直接传入两个标签，与传入一个元祖类似，返回一个Series

In [32]:
MultiIndex_df.loc['cobra', 'mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

### 传入单个元组，使用[[]]可以返回DataFrame

In [33]:
MultiIndex_df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

### 传入单个元组以及一个列标签

In [34]:
MultiIndex_df.loc[('cobra', 'mark i'), 'shield']

2

### 索引元组到单个标签的切片

In [35]:
MultiIndex_df.loc[('cobra', 'mark i'):'viper']

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

### 索引元组到元组的切片

In [36]:
MultiIndex_df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1