# 从pandas官方文档中学习

    https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html?highlight=loc#pandas.DataFrame.loc

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

## pandas的loc函数可以通过标签或布尔值访问DataFrame或Series的行和列

### 通过单一标签访问某一行，这里返回的是Series

In [3]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

### 如果想要返回一个DataFrame，可以输入一个列表

In [4]:
df.loc[['viper']]

       max_speed  shield
viper          4       5

### 如果输入的列表包含多个标签，就可以返回多行

In [5]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

### 在[ ]的第二个位置输入列的标签就可以同时定位行和列

In [6]:
df.loc['cobra', 'shield']

2

### 也可以进行切片操作，注意切片的起点和终点都包含在返回值内

In [7]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [8]:
df.loc['cobra':'sidewinder', 'max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

### 输入与行轴或列轴相同大小的布尔值列表，控制返回哪些行或者列

In [9]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [16]:
df.loc[:,[False, True]]

            shield
cobra            2
viper            5
sidewinder       8

In [17]:
df.loc[[False, False, True],[False, True]]

            shield
sidewinder       8

### 使用Series可以结合布尔值列表以及索引列表，达到不按照默认顺序筛选行或列，但是返回值仍按照默认顺序

In [22]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [18]:
df.loc[pd.Series([False, True, False],
       index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [24]:
df.loc[:,pd.Series([True, False],
       index=['shield','max_speed'])]

            shield
cobra            2
viper            5
sidewinder       8

In [21]:
df.loc[pd.Series([False, True, True],
       index=['viper', 'sidewinder', 'cobra']),
      pd.Series([True, False],
       index=['shield','max_speed'])]

            shield
cobra            2
sidewinder       8

### 通过Index方法可以调整顺序以及添加表头

In [36]:
df.loc[pd.Index(['sidewinder', "viper"], name="foo")]

            max_speed  shield
foo
sidewinder          7       8
viper               4       5

## 在布尔值列表的基础上，可以增加筛选条件筛选行和列

### 条件会返回布尔值Series，进而通过布尔值Series筛选

In [39]:
df['shield'] > 6

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [41]:
Conditional = df['shield'] > 6
df.loc[Conditional]

            max_speed  shield
sidewinder          7       8

In [38]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8