# pandas.DataFrame.drop_duplicates
    来自官方文档

## pandas.DataFrame.drop_duplicates 可以用于去除 DataFrame 中的重复数据

### DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

subset：指定某些特定的列，根据这些列是否重复输出结果，默认就是所有列

keep：保留哪一行的数据

    如果是 first 就会保留首次出现的行
    
    如果是 last 就会保留最后出现的行
    
    如果是 False 就不会保留任何出现重复的行
    
inplace：默认为 False，如果为 True, 会直接将返回的副本替换原有的变量

ignore_index：默认为 False，如果为 True, 会重置 Index

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

In [3]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

## 不添加任何参数时，根据所有列删除重复行

In [4]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

## 按照某一特定列删除重复行

In [5]:
df.drop_duplicates(subset=['brand'])

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

## 删除特定列重复内容，并且保留最后一次出现的那一行

In [6]:
df.drop_duplicates(subset=['brand', 'style'], keep='last')

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0