# pandas.merge
    来自官方文档

## 通过 merge 函数可以合并两个 DataFrame

### pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    
left：DataFrame

right：DataFrame or named Series
    这是要合并的对象
    
how：要执行的合并类型，default ‘inner’

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [3]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [4]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

## 在 lkey 和 rkey 列上合并两个表，value 列添加上了默认的后缀 _x, _y

In [5]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [6]:
pd.merge(df1, df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

## 在 lkey 和 rkey 列上合并两个表，使用 suffixes 参数指定 value 列的后缀

In [7]:
df1.merge(df2, left_on='lkey', right_on='rkey',
          suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

## 也可以不指定后缀，但如果有任何重复列名就会返回异常

In [8]:
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))

ValueError: columns overlap but no suffix specified: Index(['value'], dtype='object')

## 其它例子

In [9]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})

In [10]:
df1

     a  b
0  foo  1
1  bar  2

In [11]:
df2

     a  c
0  foo  3
1  baz  4

In [12]:
df1.merge(df2, how='inner', on='a')

     a  b  c
0  foo  1  3

In [13]:
df1.merge(df2, how='left', on='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

In [14]:
df1 = pd.DataFrame({'left': ['foo', 'bar']})
df2 = pd.DataFrame({'right': [7, 8]})

In [15]:
df1

  left
0  foo
1  bar

In [16]:
df2

   right
0      7
1      8

In [17]:
df1.merge(df2, how='cross')

  left  right
0  foo      7
1  foo      8
2  bar      7
3  bar      8